.form_nuevo_con{
    width:  70%;
    margin: auto;
    padding: 20px;
    background-color: cadetblue;
        
}
.titulo-form{
    border-bottom: solid 1px ;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: 
}
.media{
    width: 30%
}